main{
  width: 85%;
  margin: auto;
  margin-top: 5%;
  padding: 15px;
  /* background-color: rgb(211, 207, 207); */
  color: black;
}
.chamber{
  background-color: whitesmoke;
  padding: 5px;
}
.query{
  text-align: center;
  font-size: large;
  color: orange;
}