.fullbody{
   display: flex;
   
   
}
.sec{
    margin-top:5px;
   background-color: white ;
   border-radius: 15px;
   padding: 10px;
    
    
}
.card{
  
width: 100%;
display: flex;

margin-top: 10px;
align-items: center;
justify-content: space-around;


border-radius: 10%;
margin-top: 10px;
}

.upperfullb{
    background-color: whitesmoke;
    padding: 10px;
}
